.affiche {
  width: 125px;
}
.onAir img {
  width: 50px;
}

.list-group-item {
  // background-color: rgb(210, 191, 191);
  border-radius: 25px;
  padding: 6%;
  text-align: center;
  width: 100%;
  height: 35rem;
  font-size: 18px;
  font-weight: 600;
}
.list-group-item .btn {
  margin-top: 2%;
  margin-bottom: 2%;
}
.list-group-item h3 {
  font-size: 24px;
  font-weight: 600;
}
.list-group-item input {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
